body {
    background-color: black;
    color: #15ff00;
    font-family: "Monaco", monospace;
    padding: 0;
    margin: 20px;
    font-size: 15px;
}

input {
    border: none;
    background: transparent;
    color: #15ff00;
    outline: none;
    font-family: "Monaco", monospace;
    font-size: 15px;
}

.inputArea {
    display: flex;
    flex-direction: row;
}

.inputArea > input {
    padding: 0;
    flex-grow: 1;
}

p {
    margin: 5px 00px;
}
