body {
    background-color: black;
    font-family: "Monaco", monospace;
    padding: 0;
    margin: 20px;
    font-size: 15px;
}

input {
    border: none;
    background: transparent;
    outline: none;
    font-family: "Monaco", monospace;
    font-size: 15px;
}

.inputArea {
    display: flex;
    flex-direction: row;
}

.inputArea > input {
    padding: 0;
    flex-grow: 1;
}

p {
    margin: 0px;
    margin-bottom: 5px;
}

@keyframes rainbow {
    0% {
        color: red;
    }
    14% {
        color: orange;
    }
    28% {
        color: yellow;
    }
    42% {
        color: green;
    }
    57% {
        color: blue;
    }
    71% {
        color: indigo;
    }
    85% {
        color: violet;
    }
    100% {
        color: red;
    }
}
